*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration:none;
}

@font-face {
    font-family: airbnb cereal;
    src: url('AirbnbCerealMedium.ttf');
    font-style: normal;
    font-weight: 500;
}

body{
    background-color: #1e1e1e ;
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    background: url('circle.svg') no-repeat;
    background-size: contain;
    background-position: -212px 317px;
    display: flex;
}

section{
    width: 50vw;
    height: 100vh;
}

/* navbar */

nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    width: 95%;
    margin: 0 2.5% 0;
    z-index: 2;
}

nav * {
    color: #FFFFFF;
    font-family: airbnb cereal;
}

nav .logo{
    font-size: 35px;
}

nav .links{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: auto 0;
}

/* Sections one */
section.one{
    background: hsla(204, 19%, 5%, 0.5);
    position: relative;
    overflow: hidden;
}

section.one .info{
    width: fit-content;
    height: fit-content;
    margin-left: 15%;
    margin-top: 190px;
}

section.one .info .text {
    margin-bottom: 20px;
}

section.one .info .text h1{
    font-size: 50px;
    font-family: airbnb cereal;
    color: #FFFFFF;
    letter-spacing: 1.5px;
}

section.one .info .text h1 span{
    font-size: 33px;
    font-family: inter;
    color: #E8AE18;
}

section.one .info .text p{
    font-family: inter;
    font-size: 14px;
    width: 448px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 10px;
}

section.one .info .text p span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: transparent;
    background: linear-gradient(#ffffff,rgb(255 255 255 / 95%),rgb(255 255 255 / 60%) );
    background-size: 100%;
    background-repeat: repeat;
    font-weight: 400;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


section.one .info .buttons *{
    font-family: inter;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
}

section.one .info .buttons .book{
    color: #1e1e1e;
    background: #E8AE18;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    /* width: 176px; */
    /* height: 55px; */
    padding: 1rem;
    margin-right: 10px;
}

section.one .buttom{
display: flex;
flex-direction: row;
width: 100%;
position: relative;
}

section.one .buttom .bike{
position: relative;
left: -55px;
/* top: -200px; */
height: 220px;
}

section.one .buttom .news{
    display: flex;
    height: 22.87px;
    width: 50%;
    justify-content: space-between;
    margin: 17% auto 0;
    position: relative;
    left: -10px;
}

/* section two */
section.two{
    height: 100vh;
    width: 50vw;
}

section.two .img{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
}
section.two .img img.half-bike{
    height: 450px;
}

section.two .rating{
    height: 100px;
    width: 200px;
    background-color: #E8AE18;
    border-radius: 20px;
    display: flex;
    place-content: center;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 16px;
}

section.two .rating .stars{
    margin: 0 auto 7px;
}

section.two .rating h3{
    color: #1e1e1e;
    font-family: inter;
    font-size: 14px;
    margin: 0 auto;
}

section.two .specs .info{
    display: flex;
    width: 65%;
    justify-content: space-between;
    margin: auto;
    margin-left: 10%;
}

section.two .specs .info .text{
    text-align: left;
    color: #fff;
}

section.two .specs .info .text h3{
    font-family: inter;
    font-weight: 600;
    font-size: 17px;
}

section.two .specs .info .text h4{
    font-family: inter;
    font-weight: 400;
    font-size: 17px;
}